@model MassMineSweeper.Models.GamePlayer

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Profile", "Edit", new { id = Model.GamePlayerId }) |
    @Html.ActionLink("Play Game", "Play", "Game", new { id = Model.GamePlayerId },null)
</p>
